<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/auth-style.css">
  <link rel="stylesheet" href="/css/main.css">

  </head>

  <main class="main">
    <div class="container">
      <section class="wrapper">
        <div class="heading">
          <h1 class="text text-large">Resest Password</h1>
          <p class="text text-normal">Return to login page <span><a href="/login"
                class="text text-links">Login</a></span>
          </p>
        </div>
        <form name="login" class="form" action="/reset-password" method="POST">
          <div class="input-control">
            <label for="email" class="input-label" hidden>Email Address</label>
            <input type="email" name="email" id="email" class="input-field" placeholder="Email Address">
          </div>
          <div class="input-control">
            <input type="submit" name="submit" class="input-submit" value="Reset Password">
          </div>
        </form>

        <div class="striped">
          <span class="striped-line"></span>

      </section>
    </div>
  </main>
  <script>
    const form = document.forms.login;
    const submitButton = form.elements.submit;
    const email = form.elements.email;

    form.addEventListener("submit", async (event) => {
      event.preventDefault();

      const emailValue = email.value;
      console.log(emailValue);

      if (!emailValue) {
        alert("Please enter your email address");
        return;
      }

      try {
        const response = await fetch("/reset-password", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            email: emailValue,
          }),
        });

        if (response.status !== 200) {
          const errorData = await response.json();
          throw new Error(
            errorData.message ||
              `Request failed with status code ${response.status}`
          );
        }

        const responseData = await response.json();
        console.log("Request succeeded with JSON response", responseData);
        alert(responseData.message||"Password reset email was sent");
        window.location.href = "/login?mode=reset";
        return responseData;
      } catch (error) {
        console.error("Error:", error.message);
        alert(`Error: ${error.message}`);
      }
    });
  </script>


  <%- include('../includes/end') %>